@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    margin:0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.box
{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0,0,0.5, 3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.box:nth-child(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0%);
}